#book-form {
  position: relative;
  padding: 3rem 4rem;
  background-color: var(--bg-form);
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--shadow);
  border: 1px solid var(--border);
  margin: 2rem 36rem;
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.5rem 2rem;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
  padding-top: 1rem;
}

#book-form input[type="text"],
#book-form input[type="number"],
#book-form select {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--bg-main);
  color: var(--text-main);
  width: 500px;
}

#book-form input[type="text"]:focus,
#book-form input[type="number"]:focus,
#book-form select:focus {
  outline: none;
  border-color: var(--accent-wood);
  box-shadow: 0 0 5px var(--accent-wood);
}

#book-form label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: "Lancelot", serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

#book-form select {
  cursor: pointer;
}

#book-form input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#book-form button[type="submit"] {
  width: 120px;
  height: 50px;
  justify-self: start;
  background: var(--accent-green);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.35rem 0.6rem;
  font-size: 1.05rem;
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 1px 3px var(--shadow);
}

.book-card button {
  background: var(--accent-green);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.45rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition:
    background 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 1px 3px var(--shadow);
}

#book-form button[type="submit"]:hover,
.book-card button:hover {
  background: var(--accent-wood);
  transform: translateY(-1px);
  box-shadow: 0 3px 6px var(--shadow);
}

#book-form h2 {
  color: var(--accent-wood);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
