:root {
  --bg-main: #e4e1db;
  --bg-card: #c4b4a1;
  --bg-form: #d8d0c5;
  --bg-hover: #ded8d0;

  --text-main: #2f2f2f;
  --text-soft: #5a5858;

  --accent-green: #3b6451;
  --accent-wood: #8b5e41;
  --accent-red: #7b2e2f;
  --accent-brown: #b6a29b;
  --accent-soft-brown: #d3c4b8;

  --border: #c9bdaf;
  --shadow: rgba(0, 0, 0, 0.08);
  --bg-pattern: rgba(0, 0, 0, 0.02);
}

:root.dark-mode {
  --bg-main: #292421;
  --bg-card: #463a36;
  --bg-form: #382f2e;  --bg-hover: #332d29;
  --text-main: #f1e9db;
  --text-soft: #b9ae9f;

  --accent-green: #3e6f58;
  --accent-wood: #8b6548;
  --accent-red: #9a3c3e;
  --accent-brown: #251f1c;
  --accent-soft-brown: #2e2724;

  --border: #463f3a;
  --shadow: rgba(0, 0, 0, 0.35);
  --bg-pattern: rgba(255, 255, 255, 0.015);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      var(--bg-pattern) 20px,
      var(--bg-pattern) 21px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 20px,
      var(--bg-pattern) 20px,
      var(--bg-pattern) 21px
    );
  color: var(--text-main);
  min-height: 100vh;
}

ul li {
  list-style-type: none;
}
